{% extends "base.html" %}
{% block title %}
    {{ title  }} :: События месяца {{ block.super }}
{% endblock %}
{% block content %}
{% load static %}

<div class="mx-auto m-5 p-2 container position-relative top-50 start-50 translate-middle main clearfix">
    <div class="row col-md-12 p-3">
            <h3>Памятные даты или интересное в этом месяце</h3>
            <br><p>

                {% if event_list %}
                {% for event in event_list %}
                <ul class="list-group" style="border-width: 2px; color: #000000">
                    <li class="list-group-item">{{ event.title }}</li>

                    <li class="list-group-item">{{ event.text }}</li>
                </ul>
            <hr>
            {% endfor %}
            {% else %}
            <h4>Нет интересностей или памятных дат в этом месяце</h4>
            {% endif %}

    </div>

</div>
{% endblock %}
