{% extends "base.html"%}
{% load cache %}
{% block content %}
<div class="dict list_items grid_18">
	<h3>Словарь психологических терминов</h3>
	{% if alphabet %}
    <ul class="clearfix alphabet">
        {% for key,value in alphabet %}
            <li class="float-start m-2"><a href="#{{ key }}"><strong>{{ key }}</strong></a></li>
        {% endfor %}
    </ul>
	{% endif %}
    <ul>
	{% if object_list %}
        {% for key, value in object_list.items %}
            <li>
				<a name="{{ key }}"></a>
				<h5 class="item text-center">{{ key|upper }}</h5>
				<ul>
				{% for d in value %}
					<li>
						<strong>{{ d.title|title }}</strong>
						{{ d.text|capfirst }}
					</li>
				{% endfor %}
				</ul>
			</li>
        {% endfor %}
	{% else %}
		<li><strong>No records found</strong></li>
	{% endif %}
    </ul>
</div>
<div class="pagination col-md-11 p-1 m-5 bg-light text-dark text-center">
    <div class="row">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';"> Предыдущая</a>
        {% endif %}

        <span class="current">
            Страниц {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';">Последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>


{% endblock %}