{% extends "base.html" %}
{% block title %}
    {{ title  }} :: Главная страница {{ block.super }}
{% endblock %}
{% load static %}
{% block content %}

<div class="mx-auto m-5 p-2 container main text-dark text-left">
    <div class="row col-md-11">

        <a class="btn btn-outline-dark p-3 d-block" href="{% url 'psywings:posts' %}" role="button"
                style="border: 0; border-radius: 30px; border-style: groove cursor: pointer;">Статьи: раздел, где выкладываются статьи по психологии, дефектологии и т.д.</a>
        <a class="btn btn-outline-dark p-3 d-block" href="{% url 'psywings:books' %}" role="button"
                style="border: 0; border-radius: 30px; border-style: groove cursor: pointer;">Книжная полка: раздел, где представлен список литературых источников по психологии и т.д.</a>
        <a class="btn btn-outline-dark p-3 d-block" href="{% url 'psywings:dictionary_list' %}" role="button"
                style="border: 0; border-radius: 30px; border-style: groove cursor: pointer;">Психологический словарь: раздел с необходимыми терминами</a>
        <a class="btn btn-outline-dark p-3 d-block" href="{% url 'psywings:links' %}" role="button"
                style="border: 0; border-radius: 30px; border-style: groove cursor: pointer;">Ресурсы: раздел, где собраны необходимые ссылки на тематические сайты </a>
        <a class="btn btn-outline-dark p-3 d-block" href="{% url 'psywings:polls' %}" role="button"
                style="border: 0; border-radius: 30px; border-style: groove cursor: pointer;">Опросы: раздел с опросами мнений на сайте</a>
        <a class="btn btn-outline-dark p-3 d-block" href="{% url 'psywings:month_event_calendar' %}" role="button"
                style="border: 0; border-radius: 30px; border-style: groove cursor: pointer;">Календарь событий: раздел с памятными датами, посвященный психологической науке </a>

    </div>
</div>

{% endblock %}
