{% extends "base.html" %}
{% block title %}
    {{ title  }} :: Главная страница {{ block.super }}
{% endblock %}
{% load static %}
{% block content %}

<div class="container main text-dark text-left">
    <div class="row col-md-12 p-2">


        {% load site_tags %}


        {% get_list_icons as icons %}
            {% for item in icons %}

        <div><img src="{{ item.foto.url }}" alt="{{ item.title }}" class="random_image
                                                                                        img-responsive
                                                                                        img-fluid
                                                                                        rounded float-start
                                                                                        mx-auto d-block" style="

                                                                                        object-fit: none; object-fit: cover; display: block;
                                                                                        width: 100%; max-width: 64px; margin-bottom: 1rem;" />

                        <a href="{{ item.inside.url }}" class="float-start btn btn-outline-dark p-3 d-block text-start"
                        role="button"
                        style="border: 0; border-radius: 30px; border-style: groove cursor: pointer;">

                            {{ item.title }}</a></div>

                <br />

            {% endfor %}

    </div>
</div>

{% endblock %}
