{% extends "base.html" %}
{% block title %}
    {{ title  }} :: Главная страница {{ block.super }}
{% endblock %}
{% load static %}
{% block content %}

<div class="container main text-dark text-left">
    <div class="row col-md-12 p-2">


        {% load site_tags %}


        {% get_list_icons as icons %}
            {% for item in icons %}
        <div class="row p-1 m-1">
        <div class="align-baseline mн-auto float-start" style="height:40px;">

                        <a href="{{ item.inside.url }}" class="height:40px; p-1 float-start btn btn-outline-dark d-block text-start align-baseline mx-auto
                                                                                        my-auto mн-auto"
                        role="button"
                        style="display:block; border: 0; border-radius: 30px; border-style: groove cursor: pointer;">
                                        <img src="{{ item.foto.url }}" alt="{{ item.title }}" class="random_image img-responsive
                                                                                        img-fluid ps-2
                                                                                        rounded float-start
                                                                                        align-baseline" style="
                                                                                        object-fit: cover; display: block;
                                                                                        width: 100%; max-width: 36px;" />
                            {{ item.title }}</a></div>

                <br />
            </div>
            {% endfor %}

    </div>
</div>

{% endblock %}
