{% extends "base_pages.html" %}
{% block title %}
    {{ title  }} :: Главная страница {{ block.super }}
{% endblock %}
{% load static %}
{% block content %}

<div class="mx-auto m-5 p-2 container main text-dark text-start">
    <div class="row col-md-12 p-3">
        <h3><b>Ресурсы в психологии</b></h3>
        <br />
        
        {% for item in object_list %}
            <div class="card float-start">
                <div class="card-header">
                       <b> {{ item.title }} </b>
                </div>
                <div class="card-body float-start">
                    {{ item.description|safe }}
                    <br />
                    <a href="{{ item.url }}" class="nav-link p-2 m-2" target="_blank">Читать далее: {{ item.title }}</a>
                </div>
                <div class="card-footer">
                        {{ item.updated_at }}
                </div>
            </div>
             {% endfor %}
   </div>
</div>

<div class="pagination col-md-10 p-1 m-5 bg-light text-dark text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';"> Предыдущая</a>
        {% endif %}

        <span class="current">
            Страниц {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" style="background: #FFFFFF; padding: 10px; cursor: pointer; border: 1px groove; color: #000;" onmouseover="this.style.backgroundColor='#A9A9A9';" onmouseout="this.style.backgroundColor='#FFFFFF';">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}