<footer class="container-fluid fixed-bottom bg-dark text-white p-2 clearfix" style="overflow-x: hidden;">
	{% load site_tags %}
	<div class="row">
		<div class="container-fluid">
			<div class="float-start">
						<strong class="p-1 m-1">PSY-WINGS.stat:</strong>
			</div>

			<div class="float-start">
						<strong class="p-1 m-1">Статьи - {% get_stat_posts %}</strong>
			</div>

			<div class="float-start">
						<strong class="p-1 m-1">Фото - {% get_stat_gallery %}</strong>
			</div>

			<div class="float-start">
						<strong class="p-1 m-1">Список литературы - {% get_stat_books %}</strong>
			</div>

			<div class="float-start">
						<strong class="p-1 m-1">Термины - {% get_stat_terms %}</strong>
			</div>

			<div class="float-start">
						<strong class="p-1 m-1">Опросы - {% get_stat_polls %}</strong>
			</div>

			<div class="float-start">
						<strong class="p-1 m-1">Персоналии - {% get_stat_persons %}</strong>
			</div>
			<hr>
		</div>
		<div class="container-fluid">
			<div class="float-start">
				<a class ="btn btn-dark small" href="https://vk.com/konsantin_suvorov" target="_blank"> &copy; К.А. Суворов</a>
				<a class ="btn btn-dark small" href="https://vk.com/id274112563" target="_blank"> Оформление &copy; Marcus Steppefox</a>
				<a class ="btn btn-dark small" href="https://t.me/+VM5wPZxMJ7uUT-vP" target="_blank"> Telegram: PSY-WINGS!</a>

			</div>

			<div class="float-end">

				<div class="float-start">
					<a href="#" class="float-start nav-link p-1 m-1"  onclick="return add_favorite(this);">Добавить в Избранное</a>
				</div>

				<div class="float-start">
					<time id="date" class="float-start p-1 m-1"></time>
				</div>
				<div class="float-start">
					<time id="time" class="float-start p-1 m-1"></time>
				</div>
				<div class=float-start>
					<a href="#" title="Вернуться к началу страницы" class="topNubex nav-link float-start p-1 m-1"
									style="color: yellow;">Вверх</a>

				</div>

			</div>
		</div>
	</div>

	<script>
		var dt = new Date();
		document.getElementById("date").innerHTML = dt.toLocaleDateString();
	</script>
	<script>
		var span = document.getElementById('time');
			function time() {
			  var d = new Date();
			  var s = d.getSeconds();
			  var m = d.getMinutes();
			  var h = d.getHours();
			  span.textContent =
				("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
			}
			setInterval(time, 1000);
	</script>

	<script>
		// Добавить в Избранное
		function add_favorite(a) {
		  title=document.title;
		  url=document.location;
		  try {
			// Internet Explorer
			window.external.AddFavorite(url, title);
		  }
		  catch (e) {
			try {
			  // Mozilla
			  window.sidebar.addPanel(title, url, "");
			}
			catch (e) {
			  // Opera
			  if (typeof(opera)=="object") {
				a.rel="sidebar";
				a.title=title;
				a.url=url;
				return true;
			  }
			  else {
				// Unknown
				alert('Нажмите Ctrl-D чтобы добавить страницу в закладки');
			  }
			}
		  }
		  return false;
}

	</script>
    

</footer>